* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.6;
}

.skip-link {
    position: absolute; left: -9999px; top: auto;
}
.skip-link:focus {
    left: 8px; top: 8px; background: #000; color: #fff; padding: 8px 12px; z-index: 1000;
}

.barra-superior {
    background-color: white;   /* color de fondo */
    color: white;             /* color del texto */
    height: 60px;             /* grosor de la barra */
    display: flex;            /* para centrar contenido */
    align-items: center;      /* alinear vertical */
    padding: 0 20px;          /* espacio a los lados */
}

.imagen-ecomoda {
    width: 160px;
}

.momentos {
    background-color: #cb3a01;  /* color de fondo */
    width: 100%;                 /* ancho del recuadro (ajústalo) */
    margin: 30px auto;          /* centrado y separación superior */
    padding: 20px;              /* espacio interno */
    text-align: center;
}

.momentos h1 {
    color: white;
    font-size: 50px;
}

.hasta {
    text-align: center;
    margin: 30px auto;          /* centrado y separación superior */
    padding: 10px;
    background-color: #d20057;
}

.hasta p {
    color: white;
    font-weight: bold;
}


.momento-10 h2 {
    color: #790b04;
    text-align: center;
    font-size: 60px;
}

.momento-10 p {
    text-align: justify;     /* 🔹 justifica el texto */
    margin: 0 40px 20px;         /* 🔹 margen izquierdo y derecho (ajusta el valor) */
    line-height: 1.6;        /* mejora la lectura */
}


.imagenes-10 {
    display: flex;
    gap: 10px;
}

.imagenes-10 .imagen-10 {
    flex: 1;                 /* todas ocupan el mismo ancho automáticamente */
    height: 100px;           /* 🔹 altura fija que quieras */
    object-fit: cover;       /* recorta sin deformar */
}




